<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>/usr/local/maven/repository</localRepository>
    <pluginGroups></pluginGroups>
    <proxies></proxies>
    <servers>
        <server>
            <id>mso-public</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>ali-nexus</id>
            <mirrorOf>central</mirrorOf>
            <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
        </mirror>
        <mirror>
            <id>ali-public-snapshots</id>
            <mirrorOf>public-snapshots</mirrorOf>
            <url>http://maven.aliyun.com/nexus/content/repositories/snapshots/</url>
        </mirror>
        <mirror>
            <id>libs-release</id>
            <mirrorOf>repo1</mirrorOf>
            <url>https://repo.spring.io/libs-release</url>
        </mirror>
        <mirror>
            <id>UK</id>
            <mirrorOf>ukmaven</mirrorOf>
            <url>http://uk.maven.org/maven2</url>
        </mirror>
        <mirror>
            <id>cloudera</id>
            <mirrorOf>cloudera</mirrorOf>
            <url>https://repository.cloudera.com/content/repositories/releases/</url>
        </mirror>
        <mirror>
            <id>hortonworks</id>
            <mirrorOf>hortonworks</mirrorOf>
            <url>http://repo.hortonworks.com/content/repositories/releases/</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>mso-nexus</id>
            <repositories>
                <repository>
                    <id>mso-public</id>
                    <url>http://192.168.2.16:8081/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>mso-nexus</activeProfile>
    </activeProfiles>
</settings>
