<?xml version="1.0" encoding="UTF-8"?>
<settings 
  xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- localRepository
   | The path to the local repository maven will use to store artifacts.
   |
   | Default: ${user.home}/.m2/repository
  -->
  <localRepository>/usr/local/maven/repository</localRepository>
  <pluginGroups></pluginGroups>
  <proxies></proxies>
  <servers>
    <server>
      <id>releases</id>
      <username>ali</username>
      <password>ali</password>
    </server>
    <server>
      <id>Snapshots</id>
      <username>ali</username>
      <password>ali</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <!--This sends everything else to /public -->
      <id>nexus</id>
      <mirrorOf>ali</mirrorOf>
      <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
    </mirror>
    <mirror>
      <id>nexus-public-snapshots</id>
      <mirrorOf>public-snapshots</mirrorOf>
      <url>http://maven.aliyun.com/nexus/content/repositories/snapshots/</url>
    </mirror>
    <!-- spring的libs-release镜像，存放spring项目及其子项目的jar包，以及相关的依赖jar -->
    <mirror>
      <id>libs-release</id>
      <mirrorOf>repo1</mirrorOf>
      <url>https://repo.spring.io/libs-release</url>
    </mirror>
    <!-- spring的milestone镜像，存放着spring项目及其子项目的里程碑版本jar包 -->
    <mirror>
      <id>milestone</id>
      <mirrorOf>repo2</mirrorOf>
      <url>https://repo.spring.io/milestone</url>
    </mirror>
    <!-- spring的snapshot镜像，存放着spring项目及其子项目的预览版本jar包 -->
    <mirror>
      <id>snapshot</id>
      <mirrorOf>repo3</mirrorOf>
      <url>https://repo.spring.io/snapshot</url>
    </mirror>
    <mirror>
      <id>UK</id>
      <mirrorOf>ukmaven</mirrorOf>
      <url>http://uk.maven.org/maven2</url>
    </mirror>
    <mirror>
      <id>cloudera</id>
      <mirrorOf>cloudera</mirrorOf>
      <url>https://repository.cloudera.com/content/repositories/releases/</url>
    </mirror>
    <mirror>
      <id>hortonworks</id>
      <mirrorOf>hortonworks</mirrorOf>
      <url>http://repo.hortonworks.com/content/repositories/releases/</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>development</id>
      <repositories>
        <repository>
          <id>ali</id>
          <url>http://ali</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>ali</id>
          <url>http://ali</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>public-snapshots</id>
      <repositories>
        <repository>
          <id>public-snapshots</id>
          <url>http://public-snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>public-snapshots</id>
          <url>http://public-snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>development</activeProfile>
    <activeProfile>public-snapshots</activeProfile>
  </activeProfiles>
</settings>
